html, body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: absolute;
  width: 100%;
  height: 100%;
}


/* NAV */

.nav-wrapper {
  border: 1px solid purple;
  padding: 1em;
  margin: 0px auto;
  width: 100%;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-column-start: 1;
  grid-column-end: 6;
  /* grid-row: 1; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 1;
  box-sizing: border-box;
}

.nav-h1 {
  grid-column: 1;
}

.nav-item-about {
  grid-column: 7;
}

.nav-item-portfolio {
  grid-column: 8;
}

.nav-item-contact {
  grid-column: 9;
}

@media (max-width: 688px) {
  .nav-wrapper {
    border: 2px solid green;
    padding: 1em;
    margin: 0px auto;
    /* display: grid;
    grid-template-columns: 55% 5% 10% 5% 10% 5% 10%; */
  }

  .nav-link {
    visibility: hidden;
  }
}


/* ABOUT */

.about-wrapper {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 5%;
  box-sizing: border-box;
}

.about-col-left {
  border: 2px solid orangered;
  grid-column-start: 1;
  grid-column-end: 4;
}

.about-col-right {
  border: 2px solid orangered;
  grid-column-start: 4;
  grid-column-end: 6;
}

.skill {
  font-size: 1.75em;
}

.portfolio-preview-wrapper {
  grid-column-start: 1;
  grid-column-end: 6;
}

.portfolio-preview-thumbnail-wrapper {
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: 5% 26% 26% 26% 5%;
}

.puppypal-preview {
  grid-column-start: 2;
  grid-column-end: 3;
  border: .5px solid lightgray;
  width: 100%;
}

.autolog-preview {
  grid-column-start: 3;
  grid-column-end: 4;
  border: .5px solid lightgray;
  width: 100%;
}

.twitter-preview {
  grid-column-start: 4;
  grid-column-end: 5;
  border: .5px solid lightgray;
  width: 100%;
}

@media (max-width: 688px) {
  .portfolio-preview-thumbnail-wrapper {
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 5% 90% 5%;
  }
  
  .puppypal-preview, .autolog-preview, .twitter-preview {
    grid-column-start: 2;
    grid-column-end: 3;
    border: .5px solid lightgray;
    width: 100%;
    margin-top: 5%;
  }
}


/* PORTFOLIO */

.portfolio-h1 {
  text-align: center;
}

.portfolio-wrapper {
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  /* grid-gap: 3%;
  grid-template-columns: 5% 26% 26% 26% 5%; */
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: repeat(3, 1fr);
}

.portfolio-piece-puppypal {
  border: 1px solid magenta;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 1;
  grid-template-columns: repeat(3, 1fr);
}

.puppypal-image {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
}

.puppypal-content {
  grid-column-start: 2;
  grid-column-end: 4;
}


.portfolio-piece-autolog {
  border: 1px solid magenta;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 2;
  grid-template-columns: repeat(3, 1fr);
}

.autolog-image {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
}

.autolog-content {
  grid-column-start: 1;
  grid-column-end: 3;
}

.portfolio-piece-twitter {
  border: 1px solid magenta;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 3;
  grid-template-columns: repeat(3, 1fr);
}

.twitter-image {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
}

.twitter-content {
  grid-column-start: 2;
  grid-column-end: 4;
}



/* CONTACT */
.contact {
  border: 3px solid green;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
}

.contact-wrapper {
  padding: 5%;
}

/* FOOTER */
.footer {
  border: 2px solid purple;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 5;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
}

.footer-list-1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer-list-2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer-copyright {
  grid-column-start: 4;
  grid-column-end: 5;
}