/* GRID */

.nav-wrapper {
  border: 1px solid red;
  padding: 1em;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;
}

.wrapper > Link {
  border: 2px solid blue;
  text-align: center;
}