node_modules
client/src/components/About/img/.DS_Store
client/src/components/About/.DS_Store
client/src/components/Portfolio/.DS_Store
client/src/components/.DS_Store
client/src/.DS_Store
client/.DS_Store
.DS_Store
package-lock.json
client/package-lock.json
client/build